@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --bg-primary: #f0f0f0;
  --bg-secondary: #f0f2f5;
  --bg-third: #e4e6eb;
  --bg-forth: #f0f2f5;
  --color-primary: #222222;
  --color-secondary: #18aaf7;
  --border-color: #ccced2;
  --bg-error: #ef5a66;
  --border-error: #b90817;
  --bg-success: #04d393;
  --border-success: #007f57;
  --white-color: #ffffff;
  --black-color: #000000;
  --gris-color: #cccccc;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Cairo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-primary);
}
html {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
#root {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
